h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.choose {
    margin-top: 50px;
}

.grid-container {
    box-sizing: border-box;
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    grid-gap: 10px
}

.grid-item {
    background-color: black;
    border-radius: 5%;
    padding: 20px;
    text-align: center;
}



.scores-container {
    box-sizing: border-box;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    grid-gap: 10px
}

.scores {
    display: flex;
    flex-wrap: wrap;
    background-color: lightgray;
    border-radius: 5%;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.guess {
    grid-column-start: 1;
    grid-column-end: 3;
}

.show {
    grid-column-start: 6;
}

.left {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
}

.right {
    grid-column-start: 6;
    grid-row-start: 2;
}

.second {
    display: none;
}

.third {
    display: none;
}

.fourth {
    display: none;
}

.fifth {
    display: none;
}

.letters-container {
    box-sizing: border-box;
    width: 70%vw;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    grid-gap: 5px    
}

.letter {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.letter-a {
    grid-row-start: 1;
}
.letter-b {
    grid-row-start: 1;
    grid-column-start: 2;
}
.letter-c {
    grid-row-start: 1;
    grid-column-start: 3;
}
.letter-d {
    grid-row-start: 1;
    grid-column-start: 4;
}
.letter-e {
    grid-row-start: 1;
    grid-column-start: 5;
}

.letter-f {
    grid-row-start: 1;
    grid-column-start: 6;
}
.letter-g {
    grid-row-start: 1;
    grid-column-start: 7;
}
.letter-h {
    grid-row-start: 1;
    grid-column-start: 8;
}
.letter-i {
    grid-row-start: 1;
    grid-column-start: 9;
}
.letter-j {
    grid-row-start: 1;
    grid-column-start: 10;
}
.letter-k {
    grid-row-start: 1;
    grid-column-start: 11;
}
.letter-l {
    grid-row-start: 1;
    grid-column-start: 12;
}
.letter-m {
    grid-row-start: 1;
    grid-column-start: 13;
}
.letter-n {
    grid-row-start: 2;
    grid-column-start: 1;
}
.letter-o {
    grid-row-start: 2;
    grid-column-start: 2;
}
.letter-p {
    grid-row-start: 2;
    grid-column-start: 3;
}
.letter-q {
    grid-row-start: 2;
    grid-column-start: 4;
}
.letter-r {
    grid-row-start: 2;
    grid-column-start: 5;
}
.letter-s {
    grid-row-start: 2;
    grid-column-start: 6;
}
.letter-t {
    grid-row-start: 2;
    grid-column-start: 7;
}
.letter-u {
    grid-row-start: 2;
    grid-column-start: 8;
}
.letter-v {
    grid-row-start: 2;
    grid-column-start: 9;
}
.letter-w {
    grid-row-start: 2;
    grid-column-start: 10;
}
.letter-x {
    grid-row-start: 2;
    grid-column-start: 11;
}
.letter-y {
    grid-row-start: 2;
    grid-column-start: 12;
}
.letter-z {
    grid-row-start: 2;
}